
/* класс для всего контента на странице*/

.content-section {
  width: 100%;
  max-width: 1440px;  
  margin: auto;
}

/* белый текст на темном фоне*/

.content-section__dark-theme {
  color: #FFFFFF;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 92px 50px 92px 50px;
  font-size: 18px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__link-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit{
  list-style-type: none;
}

.header__link {
  border-bottom: 1px solid;
  line-height: normal;
  text-decoration: none;
}

/* убираем подчеркивание текста */

.header__link-active{
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/*размер логотипа по макету*/

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-content: flex-end;
}

/* делаем разделение между секциями 180 Для подгонки по макету*/

.main {
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.cover {
  position: relative;
  top: 4px; /*подгоняем фон по макету*/
  display: flex;
  flex-direction: column;
  gap: 135px;
  padding: 165px 50px 50px 50px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} 

.overlay {
  position: absolute;
  inset: 0;
  background: #00000099;
}

.cover__title {  
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  gap: 78px;
  width: 100%;
  text-transform: uppercase;
}

.cover__description-text {
  align-self: center;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 1.28;
  word-spacing: 18px;
}

button {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;  
  background-color: transparent;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 12px 32px;
  text-transform: uppercase;
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;    
}

.lots__heading {
  padding: 0 0 27px 40px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;  
  flex-grow: 1;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  width: 430px;
  min-height: 450px;   
}

.card__link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  z-index: 1;
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  flex-grow: 1;
  padding: 0 0 2px 40px;
  padding: 30px 0 2px 40px; /*странный отступ снизу на макете, если это задумка то она интегрирована */
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  justify-items: center;
  gap: 25px;
  padding: 0 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
}

/*размер картинки по шаблону*/

.about__logo-image {
  width: 148px;
  height: 114px; 
}

.about__title {
  padding: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  font-weight: 400;
  font-size: 20px; 
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-between;
  padding: 184px 50px 90px 50px;
}

.footer__menu {
  display: flex;
  justify-self: center;
  align-items: top;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-list-item {
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-link {
  border-bottom: 1px solid;
  color: #000;
  text-decoration: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}

.footer__social-list-item {
  display: flex;
  justify-items: end;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
}